.details {
  background-color: white;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  width: 160px;
  border-radius: 8px;
  height: 160px;
  padding: 20px;
  position: absolute;
  right: 0;
  .detail {
    padding: 15px 0;
    .det {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      cursor: pointer;
      a{
        text-decoration: none;
        color: black;
      }
      img {
        width: 14px;
        height: 14px;
      }
      p {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}
